RewriteEngine On
RewriteBase /

# Redirect Trailing Slashes If Not A Folder...
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} (.+)/$
RewriteRule ^ %1 [L,R=301]

# Handle Front Controller...
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [L]


<IfModule mod_php4.c>
  php_flag engine Off
</IfModule>
<IfModule mod_php5.c>
  php_flag engine Off
</IfModule>
<IfModule mod_php6.c>
  php_flag engine Off
</IfModule>
<IfModule mod_cgi.c>
  Options -ExecCGI
</IfModule>
<IfModule mod_deflate.c>
		<IfModule mod_headers.c>
		  <FilesMatch ".(js|css|xml|gz|html)$">
			Header append Vary User-Agent env=!dont-vary
		  </FilesMatch>
		</IfModule>
        <IfModule mod_filter.c>
                # these are known to be safe with MSIE 6
				AddOutputFilterByType DEFLATE application/javascript
			    AddOutputFilterByType DEFLATE application/rss+xml
			    AddOutputFilterByType DEFLATE application/vnd.ms-fontobject
			    AddOutputFilterByType DEFLATE application/x-font
			    AddOutputFilterByType DEFLATE application/x-font-opentype
			    AddOutputFilterByType DEFLATE application/x-font-otf
			    AddOutputFilterByType DEFLATE application/x-font-truetype
			    AddOutputFilterByType DEFLATE application/x-font-ttf
			    AddOutputFilterByType DEFLATE application/x-javascript
			    AddOutputFilterByType DEFLATE application/xhtml+xml
			    AddOutputFilterByType DEFLATE application/xml
			    AddOutputFilterByType DEFLATE font/opentype
			    AddOutputFilterByType DEFLATE font/otf
			    AddOutputFilterByType DEFLATE font/ttf
			    AddOutputFilterByType DEFLATE image/svg+xml
			    AddOutputFilterByType DEFLATE image/x-icon
			    AddOutputFilterByType DEFLATE text/css
			    AddOutputFilterByType DEFLATE text/html
			    AddOutputFilterByType DEFLATE text/javascript
			    AddOutputFilterByType DEFLATE text/plain
			    AddOutputFilterByType DEFLATE text/xml
        </IfModule>
</IfModule>



RemoveHandler .cgi .pl .py .pyc .pyo .phtml .php .php3 .php4 .php5 .php6 .pcgi .pcgi3 .pcgi4 .pcgi5 .pchi6 .inc
RemoveType .cgi .pl .py .pyc .pyo .phtml .php .php3 .php4 .php5 .php6 .pcgi .pcgi3 .pcgi4 .pcgi5 .pchi6 .inc
SetHandler None
SetHandler default-handler

# Remove both lines below if you want to render HTML files from the upload folder
AddType text/plain .html
AddType text/plain .htm
